<div class="container temp1">
     <div class="b-form-container" style="background-image: url(/assets/567118.jpg); background-size: cover;">
      <div align="center" class="banner">
      <%= simple_form_for ([@vehicle, @booking]), method: :post do |f| %>
      <%= f.input :booking %>
      <%= f.input :return %>
      <%= f.button :submit, class:"btn btn-success"%>
      <% end %>
      </div>
     </div>
</div>
