
<h1>DODO-CarRental</h1>


    <div class="banner" style="background-image: url(<%= image_path 'banner.jpg' %>)">
      <strong>Find best car Here For rent</strong><br>
      <span>Find our list of vehicles</span>
      <%= link_to "List Vehicles", vehicles_path %>
       <a class="btn-primary" href= "http://localhost:3000/bookings" >My Booking List!</a>
    </div>
  

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="https://www.instagram.com/?hl=en"><i class="fab fa-fw fa-instagram"></i></a>
    </div>
  </div>
