// @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900');
// @import url('https://fonts.googleapis.com/css?family=Exo:700');
// @import url('https://fonts.googleapis.com/css?family=Abel');


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 20px;
    margin-right: 6px;
    margin-left: 6px;


  }

  .card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

  }


  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .banner{
    height: 80vh;
    color: azure;
    padding: 40px;
    font-size: xx-large;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

  }

.buttons{
  margin-bottom: 30px;
}

.btn-blue{
  border-radius: 10px;
  margin: 40px;
}

  .btn-show{
    border-radius: 10px;
    margin-top: 6px;
  }
  .notice{
    display: none;
  }

.head{
  text-align: center;
  margin-top: 5px;
}
