.navbar-lewagon {
  justify-content: space-between;
  background: rgba(116, 113, 113, 0.397);
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-fonts {
  font-weight: bold;
  font-size: 30px;
  font-family:'Trebuchet MS' ;
}
